.app {
    display: flex;
    height: 100vh;
}

.apploading {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.apploading__contents {
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apploading__contents > img {
    height: 250px;
    display: flex;
}